.button {
    &.buy {
        &:after {
            content: url('../images/btn-arrow.svg');
            display: inline;
            padding-left: .5em;
        }
    }
}

.off-canvas-wrapper {
    overflow-y: hidden;
}
