.button {
    &.buy {
        .icon-arrow {
            font-size: 6px;
        }
    }
}

.off-canvas-wrapper {
    overflow-y: hidden;
}

.section-heading {
    text-align: center;
    font-size: 36px;
    color: #606c82;
    font-weight: bold;
    @include breakpoint(small only) {
        font-size: 24px;
    }
}

a.share {
    position: relative;
    padding-left: 26px;
    &:before {
        content: "";
        display: block;
        width: 17px;
        height: 18px;
        background: transparent url("../images/share.svg") no-repeat left center;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -11px;
    }
}

a.green-more {
    color: $green;
    &:hover {
        color: #009900;
    }
    white-space: nowrap;
    font-size: 16px;
    @include breakpoint(medium) {
        font-size: 30px;
    }
    padding-right: 20px;
    margin: 0 20px 30px 20px;
    position: relative;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    &:after {
        content: "";
        display: block;
        width: 8px;
        height: 5px;
        background: transparent url("../images/btn-arrow-green.svg") no-repeat left center;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3px;
    }
}

.bold {
    font-weight: bold;
}
