<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }} | SCOTTeVEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/vendor/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://vjs.zencdn.net/5.9.2/video-js.css" rel="stylesheet">
    <script>document.createElement("picture");</script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5ec26a">
    <meta name="apple-mobile-web-app-title" content="SCOTTeVEST">
    <meta name="application-name" content="SCOTTeVEST">
    <meta name="msapplication-TileColor" content="#5ec26a">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#5ec26a">
</head>

<body>

{% if errorBar is defined %}
    {% include '../_components/global/_error-bar.html.twig' with {
    'errorText': errorBar
    } only %}
{% endif %}

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>

            <!-- Menu -->
            <ul class="vertical menu">
                <li><a href="/products/category">All Products</a></li>
                <li><a href="/products/category">Men</a></li>
                <li><a href="/products/category">Women</a></li>
                <li><a href="#">Daily sale</a></li>
                <li><a href="#">Outlet</a></li>
                <li><a href="#">About</a></li>
            </ul>

        </div>

        <div class="off-canvas-content" data-off-canvas-content>
            <header class="site-header">
                {% include '../_components/global/_offer-bar.html.twig' %}
                {% include '../_components/global/_intl-bar.html.twig' %}
                {% include '../_components/global/_nav-bar.html.twig' %}
            </header>
            {% block content %}{% endblock %}
            <footer class="site-footer">
                {% include '../_components/global/_footer.html.twig' %}
            </footer>
        </div>
    </div>
</div>

<div class="small reveal" id="quickview" data-reveal>
    <form class="reveal-container">
        {% include "products/_product-category.html.twig" with {
        hide_quickview: true,
        show_pocket_count: true
        } %}
        <div class="available-sizes">
            <h2>Available Sizes</h2>
            <div class="row">
                <div class="small-8 columns size-options">
                    <button type="button" name="size" title="small" value="small">S</button>
                    <button type="button" name="size" title="medium" value="medium">M</button>
                    <button type="button" name="size" title="large" value="large">L</button>
                    <button type="button" name="size" title="extra large" value="xlarge" disabled>XL</button>
                </div>
            </div>
            <div class="color-options__graphical-carousel__wrapper">
                <div class="color-options__graphical-carousel">
                    <div>
                        {% for i in 0..5 %}
                            <button type="button" name="color" value="green">
                                <img src="/uploads/size-graphical/green-qzip.png" alt="Green quarter zip"/>
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns end quick-view-details">
                    <a href="#">Product Details <span class="icon-arrow"></span></a>
                </div>
                <button class="quick-view-buy-now">
                    Buy now <span class="icon-arrow"></span>
                </button>
            </div>
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<button class="live-chat-btn">
    <span>Talk to Online Personal Shopper</span>
</button>

<script src="https://vjs.zencdn.net/5.9.2/video.js"></script>
<script type="text/javascript" data-main="/scripts/jquery.js" src="/vendor/jquery/dist/jquery.js"></script>
<script type="text/javascript" data-main="/scripts/vendor/jquery-ui/jquery-ui.min.js"
        src="/vendor/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" data-main="/scripts/vendor/twentytwenty/jquery.event.move.js"
        src="/vendor/twentytwenty/js/jquery.event.move.js"></script>
<script type="text/javascript" data-main="/scripts/vendor/twentytwenty/jquery.twentytwenty.js"
        src="/vendor/twentytwenty/js/jquery.twentytwenty.js"></script>
<script type="text/javascript" data-main="/scripts/vendor/foundation.js"
        src="/vendor/foundation-sites/dist/foundation.js"></script>
<script type="text/javascript" data-main="/scripts/vendor/slick.js"
        src="/vendor/slick-carousel/slick/slick.js"></script>
<script type="text/javascript" data-main="/scripts/vendor/jquery.stick-kit.min.js"
        src="/vendor/jquery.stick-kit.min.js"></script>
<script type="text/javascript" data-main="/scripts/vendor/jquery-selectboxit/src/javascripts/jquery.selectBoxIt.min.js"
        src="/vendor/jquery-selectboxit/src/javascripts/jquery.selectBoxIt.min.js"></script>
<script type="text/javascript" data-main="/scripts/main.js" src="/scripts/main.js"></script>
<script>$(document).foundation();</script>
</body>
</html>
