<nav class="site-footer__shop-nav">
    <ul>
        <li><a href="/products/category">All Products</a></li>
        <li><a href="/products/category">Men</a></li>
        <li><a href="/products/category">Women</a></li>
        <li><a href="#">Daily Sale</a></li>
        <li><a href="#">Outlet</a></li>
    </ul>
</nav>
<nav class="site-footer__site-nav">
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Join Our List</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Press Kit</a></li>
        <li><a href="#">Wholesale</a></li>
        <li><a href="#">Corporate Gifts</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Store Locator</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Shipping Information</a></li>
        <li><a href="#">Request RMA</a></li>
    </ul>
</nav>
<div class="site-footer__social-buttons">
    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</div>
<div class="site-footer__logo">
    <a href="#">
        <img src="/images/logo-blue.svg" alt="SCOTTeVEST">
    </a>
</div>
<div class="site-footer__copyright">
    &copy;2016. SCOTTeVEST. All Rights Reserved.
</div>

