<div class="top-bar intl-bar">
    <div class="container">
        <div class="row">
            <div class="small-12 columns text-center">
                <strong>50% off international shipping</strong>
                <span>Monday, May 24th through Tuesday, May 26th</span>
            </div>
        </div>
    </div>
</div>
