<div class="top-bar offer-bar text-center">
    <span class="offer-bar__text">
        <strong>FREE Shipping over $100</strong> in the U.S.
    </span>
    <a href="#" class="offer-bar__link">
        Learn More
    </a>
    <button class="button offer-bar__btn">Get Daily Deals</button>

</div>
