.explore-products {
    position: relative;
    margin-top: 3em;
    .columns {
        @include breakpoint(small only) {
            padding: 0;
        }
    }
}

.top-angle {
    position: absolute;
    top: -4px;
    left: 0;
    right: -4px;
    img {
        width: 100%;
    }
    @include breakpoint(medium) {
        top: -1px;
        left: 0;
        right: 0;
    }
}

.explore-product {
    width: 100%;
    position: relative;
    img {
        width: 100%;
        display: block;
    }
    a {
        display: block;
    }
    h2 {
        display: inline;
        position: absolute;
        top: 1.11em;
        left: 1.61em;
        color: #fff;
        font-size: 27px;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height : 2px;
            background: #f00;
            position: absolute;
            bottom: -.5em;
            left: .1em;
        }
        @include breakpoint(medium) {
            top: 2em;
        }
    }
    &--more {
        width: 100%;
        height: 0;
        padding-top: 77.10083%;
        background: $green;
        position: relative;
        button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 2.14rem;
            color: $white;
            &:focus {
                outline: 0;
            }
            img {
                width: auto;
                display: inline-block;
                margin-bottom: .5em;
            }
        }
        &--desktop {
            @include breakpoint(small only) {
                transform: scale(0, 0);
                height: 0;
                display: none;
            }
        }
        &--mobile {
            @include breakpoint(medium) {
                transform: scale(0, 0);
                height: 0;
                display: none;
            }
        }
    }
    &--less {
        width: 100%;
        height: 0;
        padding-top: 52.2033898%;
        background: $green;
        position: relative;
        button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 2.14rem;
            color: $white;
            &:focus {
                outline: 0;
            }
            img {
                width: auto;
                display: inline-block;
                margin-bottom: .5em;
            }
        }
    }
    &--hidden {
        transform: scale(0, 0);
        height: 0;
        display: none;
    }
    height: auto;
    transform: scale(1, 1);
    &:hover {
        opacity: .8;
    }
    transition: opacity .2s ease-in-out, transform .33s ease-in-out;
}

@include breakpoint(medium) {
    .explore-products__left {
        float: left;
        width: 40.4166667%;
    }
    .explore-products__right {
        float: right;
        width: 59.5833333%;
    }
}
