<div class="product-detail__top">
    <div class="container">
        <div class="row">
            <div class="small-12 large-7 columns product-detail__bg">
                <img src="/uploads/product_bg/product.jpg" alt="">
                <div class="bottom-angle">
                    <img src="/images/bottom-angle.svg" alt="">
                </div>
            </div>
            <div class="small-12 large-5 columns product-detail__top-buy">
                <form action="#">
                    <h1>Chloe Hoodie</h1>
                    <h2>$325.00</h2>
                    <div class="rating">
                        <span class="show-for-sr">4.0 out of 5 stars</span>
                        <span class="icon-star icon-star--fill"></span>
                        <span class="icon-star icon-star--fill"></span>
                        <span class="icon-star icon-star--fill"></span>
                        <span class="icon-star icon-star--fill"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="row">
                        <div class="small-6 columns size-options">
                            <button type="button" name="size" title="small" value="small">S</button>
                            <button type="button" name="size" title="medium" value="medium">M</button>
                            <button type="button" name="size" title="large" value="large">L</button>
                            <button type="button" name="size" title="extra large" value="xlarge" disabled>XL</button>
                        </div>
                        <div class="small-6 columns size-chart-link text-right">
                            <a href="#" class="size-chart-link"><img src="/images/sizing-chart.svg" alt=""> Sizing chart</a>
                        </div>
                    </div>
                    <div class="row color-qty">
                        <div class="small-6 columns color-options">
                            <button type="button" name="color" title="red" value="red" style="background: #f90808;"><span class="show-for-sr">Order in Red</span></button>
                            <button type="button" name="color" title="gray" value="gray" style="background: #606c82;"><span class="show-for-sr">Order in Gray</span></button>
                            <button type="button" name="color" title="blue" value="blue" style="background: #50b3cf;"><span class="show-for-sr">Order in Blue</span></button>
                        </div>
                        <div class="small-6 columns qty-options text-right">
                            <button type="button" class="sub">-</button>
                            <input type="text" name="qty" title="Quantity" value="1" />
                            <button type="button" class="add">+</button>
                        </div>
                    </div>
                    <div class="row buy-bar">
                        <div class="large-12 small-12 medium-5 columns buy-btn">
                            <button class="button buy">Add to bag</button>
                        </div>
                        <div class="large-6 small-6 medium-4 columns add-wishlist text-center">
                            <a href="#" class="green-more">Add to wishlist</a>
                        </div>
                        <div class="large-6 small-6 medium-3 columns share text-center">
                            <a href="#" class="share">Share</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-angle">
        <img src="/images/bottom-angle.svg" alt="">
    </div>
</div>
