<ul class="tabs tab-picker tab-picker--product-specs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Product Info</a></li>
    <li class="tabs-title"><a href="#panel2">Reviews</a></li>
    <li class="tabs-title"><a href="#panel3">Shipping &amp; Returns</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh
            porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.
            Suspendisse dictum feugiat nisl ut dapibus.</p>
        <p class="hidable show-for-sr">
            Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel
            eu leo. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
        <p class="more-link text-right">
            <button type="button">Read more</button>
        </p>
    </div>
    <div class="tabs-panel" id="panel2">
        <p>Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit
            amet non magna. Maecenas faucibus mollis interdum. Donec sed odio dui.</p>
        <p class="hidable show-for-sr">
            Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh
            porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.
            Suspendisse dictum feugiat nisl ut dapibus.
        </p>
        <p class="more-link text-right">
            <button type="button">Read more</button>
        </p>
    </div>
    <div class="tabs-panel" id="panel3">
        <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla
            enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus
            rhoncus ut eleifend nibh porttitor.</p>
        <p class="hidable show-for-sr">
            Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean
            lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
            eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis
            consectetur purus sit amet fermentum.
        </p>
        <p class="more-link text-right">
            <button type="button">Read more</button>
        </p>
    </div>
</div>
