{% extends "../_layouts/layout.html.twig" %}

{% set title = "Travel Clothing for Men and Women" %}

{% block content %}
    {% include '../_components/homepage/_hero.html.twig' %}
    <div class="product-grid product-grid--xray container">
        <div class="product-grid__filters row">
            <div class="button-group text-center">
                <a class="button active">All</a>
                <a class="button">Men</a>
                <a class="button">Women</a>
            </div>
        </div>
        <div class="row small-up-1 medium-up-2 columns">
            {% set product = {
                title: 'SeV Susie Qzip',
                imgPath: '/uploads/xray_grid/pink_vest.jpg',
                xrayImgPath: '/uploads/xray_grid/pink_vest-xray.jpg'
            } %}
            {% for i in 0..3 %}
                <div class="column">
                    <div class="product-grid__header">
                        {{ product.title }}
                    </div>
                    <div class="xray-img">
                        <img src="{{ product.imgPath }}" alt="">
                        <img src="{{ product.xrayImgPath }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
