<div class="product-filter">
    <div class="container">
        <div class="row small-12 columns product-filter__toggle">
            <a href="#" class="product-filter__toggle-button">
                Filter
            </a>
        </div>
        <form>
            <div class="row small-12 columns product-filter__inner">
                <div class="row product-filter__options">
                    <div class="product-filter__col small-2 columns">
                        <h4 class="product-filter__heading">Color</h4>
                        <div class="product-filter__colors">
                            <button type="button" name="color" title="black" value="black">
                                <span class="circle" style="background: #000000;"></span>
                                <span class="num">2</span>
                                <span class="show-for-sr">Filter Black</span>
                            </button>
                            <button type="button" name="color" title="blue" value="blue">
                                <span class="circle" style="background: #50b3cf;"></span>
                                <span class="num">23</span>
                                <span class="show-for-sr">Filter Blue</span>
                            </button>
                            <button type="button" name="color" title="red" value="red">
                                <span class="circle" style="background: #f90808;"></span>
                                <span class="num">5</span>
                                <span class="show-for-sr">Filter Red</span>
                            </button>
                            <button type="button" name="color" title="green" value="green">
                                <span class="circle" style="background: #78a22f;"></span>
                                <span class="num">12</span>
                                <span class="show-for-sr">Filter Green</span>
                            </button>
                            <button type="button" name="color" title="darkBlue" value="darkBlue">
                                <span class="circle" style="background: #606c82;"></span>
                                <span class="num">9</span>
                                <span class="show-for-sr">Filter Dark Blue</span>
                            </button>
                            <button type="button" name="color" title="white" value="white">
                                <span class="circle circle--has-border" style="background: #fff;"></span>
                                <span class="num">4</span>
                                <span class="show-for-sr">Filter White</span>
                            </button>
                            <button type="button" name="color" title="orange" value="orange">
                                <span class="circle" style="background: #f7941d;"></span>
                                <span class="num">3</span>
                                <span class="show-for-sr">Filter Orange</span>
                            </button>
                        </div>
                    </div>
                    <div class="product-filter__col small-2 columns">
                        <h4 class="product-filter__heading">Price</h4>

                    </div>
                    <div class="product-filter__col small-2 columns">
                        <h4 class="product-filter__heading">Size</h4>
                        <div class="product-filter__sizes">
                            <button type="button" name="size" title="small" value="small">
                                <span class="size">S</span>
                                <span class="num">2</span>
                                <span class="show-for-sr">Filter Small</span>
                            </button>
                            <button type="button" name="size" title="medium" value="medium">
                                <span class="size">M</span>
                                <span class="num">31</span>
                                <span class="show-for-sr">Filter Medium</span>
                            </button>
                            <button type="button" name="size" title="large" value="large">
                                <span class="size">L</span>
                                <span class="num">5</span>
                                <span class="show-for-sr">Filter Large</span>
                            </button>
                            <button type="button" name="size" title="extraLarge" value="extraLarge">
                                <span class="size">XL</span>
                                <span class="num">9</span>
                                <span class="show-for-sr">Filter Extra Large</span>
                            </button>
                        </div>
                    </div>
                    <div class="product-filter__col small-3 columns">
                        <h4 class="product-filter__heading">Features</h4>

                    </div>
                    <div class="product-filter__col small-3 columns">
                        <h4 class="product-filter__heading">Activities</h4>

                    </div>
                </div>
                <div class="row product-filter"
            </div>
        </form>
    </div>
</div>
