.related-products {
    margin-bottom: 110px;
    .section-heading {
        margin-bottom: 50px;
        color: #000;
    }
}

.related-products__product {
    position: relative;
    margin-bottom: 40px;
}
