<div class="homepage-logos container">
    <div class="row">
        <div class="small-12 columns">
            <div class="small-up-2 medium-up-4 large-up-8">
                {% for i in range(0,7) %}
                <div class="column">
                    <a href="http://www.nytimes.com" target="_blank">
                        <img src="http://placehold.it/200x150" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
