<h2 class="explore-products__heading section-heading">
    What's your Lifestyle?
</h2>
<div class="explore-products container">
    <div class="row">
        <div class="small-12 columns">
            <div class="explore-products__left">
                <div class="explore-product explore-product--thin">
                    <a href="#">
                        <img src="/uploads/explore_products/category-01--thin.jpg" alt="">
                        <h2>Tech</h2>
                    </a>
                </div>
                <div class="explore-product explore-product--thin explore-product--more explore-product--more--desktop">
                    <button>
                        <img src="/images/refresh.svg" alt=""><br>
                        More categories
                    </button>
                </div>
                <div class="explore-product explore-product--thin explore-product--hidable explore-product--hidden">
                    <a href="#">
                        <img src="/uploads/explore_products/category-01--thin.jpg" alt="">
                        <h2>Tech</h2>
                    </a>
                </div>
                <div class="explore-product explore-product--thin explore-product--hidable explore-product--hidden">
                    <a href="#">
                        <img src="/uploads/explore_products/category-01--thin.jpg" alt="">
                        <h2>Tech</h2>
                    </a>
                </div>
            </div>
            <div class="explore-products__right">
                <div class="explore-product explore-product--wide">
                    <a href="#">
                        <img src="/uploads/explore_products/category-02.jpg" alt="">
                        <h2>Business</h2>
                    </a>
                </div>
                <div class="explore-product explore-product--wide">
                    <a href="#">
                        <img src="/uploads/explore_products/category-03.jpg" alt="">
                        <h2>Outdoors</h2>
                    </a>
                </div>
                <div class="explore-product explore-product--wide explore-product--hidable explore-product--hidden">
                    <a href="#">
                        <img src="/uploads/explore_products/category-02.jpg" alt="">
                        <h2>Business</h2>
                    </a>
                </div>
                <div class="explore-product explore-product--wide explore-product--more explore-product--more--mobile">
                    <button>
                        <img src="/images/refresh.svg" alt=""><br>
                        More categories
                    </button>
                </div>
                <div class="explore-product explore-product--wide explore-product--less explore-product--hidden">
                    <button>
                        <img src="/images/refresh.svg" alt=""><br>
                        Fewer categories
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="top-angle"><img src="/images/top-angle.svg" alt=""></div>
</div>
