<article class="homepage-hero container">
    <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/uploads/homepage_hero/hero.jpg" media="(min-width: 1025px)">
        <source srcset="/uploads/homepage_hero/hero_1024.jpg" media="(min-width: 481px)">
        <!--[if IE 9]></video><![endif]-->
        <img src="/uploads/homepage_hero/hero_480.jpg"
             srcset="/uploads/homepage_hero/hero_480.jpg" alt=""
        >
    </picture>
    <div class="homepage-hero__overlay homepage-hero__overlay--statement row">
        <div class="small-12 medium-6 medium-offset-3 columns text-center">
            <h1 class="homepage-hero__statement">
                It’s what’s on the inside that counts.
            </h1>
            <div class="homepage-hero__buy">
                <h2 class="homepage-hero__buy__title">Featherweight Vest</h2>
                <h3 class="homepage-hero__buy__price">$140</h3>
                <a href="/products/featherweight-vest" class="button buy">Buy <span class="show-for-sr">Featherweight Vest</span> Now <span class="icon-arrow"></span></a>
            </div>
        </div>
    </div>
    <img class="homepage-hero-angle" src="/images/bottom-angle.svg" alt="">
</article>

