<article class="homepage-hero container">
    <img src="/uploads/homepage_hero/hero.jpg" alt="">
    <div class="homepage-hero__overlay homepage-hero__overlay--statement row">
        <div class="small-12 medium-6 medium-offset-3 columns text-center">
            <h1 class="homepage-hero__statement">
                It’s what’s on the inside that counts.
            </h1>
            <div class="homepage-hero__buy">
                <h2 class="homepage-hero__buy__title">Featherweight Vest</h2>
                <h3 class="homepage-hero__buy__price">$140</h3>
                <a href="#">Buy <span class="show-for-sr">Featherweight Vest</span> Now</a>
            </div>
        </div>
    </div>
</article>

