<div class="quote container">
    <div class="row">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <h2 class="quote__heading section-heading row">
            <div class="small-12 columns">
                Everyone is talking about SCOTTeVEST
            </div>
        </h2>
        <div class="row quote__container">
            <div class="quote__text small-6 columns end">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud
                    exercitation.
                </p>
                <div class="quote__source text-right">
                    — Steve Wozniak
                </div>
            </div>
            <img src="/uploads/quotes_bg/wozniak.jpg" alt="" class="quote__img">
            <img class="homepage-hero-angle" src="/images/bottom-angle.svg" alt="">
        </div>
        <div class="quote__more row">
            <div class="small-12 columns text-center">
                <a href="#" class="green-more bold">More Celebs</a>
            </div>
        </div>
    </div>

    </div>
</div>
