<div class="quote container">
    <h2 class="quote__heading section-heading">
        Everyone is talking about SCOTTeVEST
    </h2>
    <div class="row quote__container">
        <div class="small-12 columns">
            <div class="quote__text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation.
                </p>
                <div class="quote__source">
                    Steve Wozniak
                </div>
            </div>
        </div>
        <img class="homepage-hero-angle" src="/images/bottom-angle.svg" alt="">
    </div>
    <div class="quote__more row">
        <div class="small-12 columns text-center">
            <a href="#" class="green-more">More Celebs</a>
        </div>
    </div>
</div>
<style>
.quote__container {
    background: url("/uploads/quotes_bg/wozniak.jpg") no-repeat center right;
}
</style>
