<div class="whats-inside">
    <picture class="whats-inside__bg">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/uploads/features_bg/features_bg.jpg" media="(min-width: 1025px)">
        <source srcset="/uploads/features_bg/features_bg_1024.jpg" media="(min-width: 481px)">
        <!--[if IE 9]></video><![endif]-->
        <img src="/uploads/features_bg/features_bg_480.jpg"
             srcset="/uploads/features_bg/features_bg_480.jpg" alt=""
        >
    </picture>
    <div class="whats-inside__overlay text-center">
        <h2>What&rsquo;s Inside</h2>
        <div class="whats-inside__icons">
            {% for i in range(0,7) -%}
                <div class="whats-inside__icon">
                    <img src="/uploads/feature_icons/{{ loop.index is odd ? 'bluetooth' ? 'c-icon' }}.png" alt="">
                    <h3>Bluetooth Pocket</h3>
                </div>
            {%- endfor %}
        </div>
    </div>
</div>
